.bg-data {
  background-color: #28282b;
}

.img {
  width: 200px;
  height: 200px;
}

img {
  width: 200px;
  height: 200px;
}

.form-label {
  padding-top: 20px;
}

.custom-file-input {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.custom-file-input input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.custom-file-label {
  color: #fff;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

::placeholder {
  color: #fff;
}

input {
  color: #fff;
}
