<link
  href="https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin"
  rel="stylesheet"
  type="text/css"
/>

<div
  class="border border-black"
  style="background-color: rgb(26, 33, 36); font-family: 'Kanit', sans-serif"
>
  <div class="container" style="color: white">
    <div class="row" style="padding: 30px">
      <div class="col-md-2">
        <button
          class="btn btn-success"
          type="submit"
          (click)="nav.service.toPage('createtournament')"
        >
          สร้างทัวร์นาเมนต์
        </button>
      </div>
      <div class="col-md-12" style="text-align: center;">
        <h1 >-การแข่งขันทั้งหมด-</h1>
      </div>
     
    </div>

    <div class="tour-list-wrapper">
      <div class="tour-item" *ngFor="let tournament of getAllTournament()"
      (click)="nav.service.toPage('leagues/' + tournament.tour.id)">
        <div
          class="img"
          
        >
          <img [src]="tournament.image" alt="Tournament Image" />
        </div>
        <div class="detail">
          <div class="name">
            <h4 style="font-family: fantasy">{{ tournament.tour.name }}</h4>
          </div>
          <div class="data">
            <div class="row g-2">
              <div class="col-sm-6">
                <div class="data-item" style="text-align: center">
                  <div class="col-md-12">
                    <h6>เงินรางวัล</h6>
                  </div>
                  <h5 style="color: green; margin: 0">
                    {{ tournament.tour.reward | number : "1.0-0" }}฿
                  </h5>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="data-item" style="text-align: center">
                  <div class="col-md-12">
                    <h6>ประเภท</h6>
                  </div>
                  <h5 style="color: rgb(96, 99, 96); margin: 0">
                    {{ tournament.tour.tournamenType }}
                  </h5>
                </div>
              </div>

              <div class="col-md-12">
                <div class="data-date-item" style="text-align: center">
                  <div class="col-md-12">
                    <h4>ระยะเวลา</h4>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <p
                        style="
                          background-color: rgb(94, 94, 102);
                          border-radius: 15px;
                        "
                      >
                        เริ่มสมัคร
                      </p>
                      <p style="color: rgb(96, 99, 96); margin: 0">
                        {{ tournament.tour.startRegisterDate }}
                      </p>
                    </div>
                    <div class="col-sm-4">
                      <p
                        style="
                          background-color: rgb(94, 94, 102);
                          border-radius: 15px;
                        "
                      >
                        หมดเวลาสมัคร
                      </p>
                      <p style="color: rgb(96, 99, 96); margin: 0">
                        {{ tournament.tour.endRegisterDate }}
                      </p>
                    </div>
                    <div class="col-sm-4">
                      <p
                        style="
                          background-color: rgb(94, 94, 102);
                          border-radius: 15px;
                        "
                      >
                        เริ่มแข่ง
                      </p>
                      <p style="color: rgb(96, 99, 96); margin: 0">
                        {{ tournament.tour.startTourDate }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>

        
      </div>
    </div>
  </div>
</div>
