<div class="Scrim">
  <div class="container">
    <app-header [title]="title" [discription]="discription"></app-header>

    <div class="d-flex flex-column">
      <div class="border-bottom d-lg-flex">
        <label class="fs-5 underline border-2">Tournament Finder</label>
      </div>
      <div
        class="filter-tour d-flex justify-content-between flex-wrap"
        role="search"
      >
        <input
          #filter
          class="form-control"
          style="width: 500px"
          type="search"
          placeholder="Search tournament name"
          aria-label="Search"
          (change)="filterTourList(filter.value)"
        />
        <button class="ms-3 btn btn-success" type="button">Search</button>
        <button
          class="ms-auto mt-3 mt-lg-0 btn btn-success"
          type="button"
          (click)="goCreate()"
        >
          CREATE&nbsp;TOURNAMENT
        </button>
      </div>

      <div
        #TourContenter
        class="tour-list-wrapper"
        (scroll)="onScrollTourContenter()"
      >
        <div
          class="tour-item"
          *ngFor="let tour of allTournamentFilter; let index = index"
          (click)="goDetail(tour.id)"
        >
          <div class="img">
            <div
              id="loading"
              class="lds-ellipsis m-auto"
              *ngIf="tour.imageTourUrl && !images[index]"
            >
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <img
              [src]="images[index]"
              *ngIf="tour.imageTourUrl && images[index]"
              class="m-auto"
            />
            <h1
              *ngIf="!tour.imageTourUrl && !images[index]"
              [innerHTML]="tour.name?.charAt(0)"
              class="text-uppercase text-light-emphasis m-auto"
              style="font-size: 80px"
            ></h1>
          </div>
          <div class="detail">
            <div class="name">
              <h4 style="font-family: fantasy">{{ tour.name }}</h4>
            </div>
            <div class="data">
              <div class="row g-2">
                <div class="col-md-12 text-center">
                  <div class="data-item">
                    Reward :
                    <h3 style="color: green; font-family: fantasy;">{{ tour.reward }} ฿</h3>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="data-item">
                    start matching :
                    <h4>
                      {{ tour.startDateMatch | date : "dd/MM/yyy" }}
                    </h4>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="data-item">
                    <h4>Fee : {{ tour.fee }} Bath</h4>
                    <label for="">
                      {{ tour.teamJoin.length }}/{{
                        tour.maxNumberTeam
                      }}
                      team</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            id="loading"
            class="lds-ellipsis m-auto"
            *ngIf="pageTotal == pageSize"
          >
            <div class="bg-light"></div>
            <div class="bg-light"></div>
            <div class="bg-light"></div>
            <div class="bg-light"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
