.lds-ellipsis div:nth-child(1) {
  background-color: #1a1b20;
}

.lds-ellipsis div:nth-child(2) {
  background-color: #1a1b20;
}

.lds-ellipsis div:nth-child(3) {
  background-color: #1a1b20;
}

.lds-ellipsis div:nth-child(4) {
  background-color: #1a1b20;
}

.image-comtent {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.image-member-comtent {
  width: 70px;
  height: 70px;
  overflow: hidden;
}

img {
  height: 100%;
  width: 100%;
}

.content {
  margin: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.unimage {
  font-size: 150px;
  margin: auto;
}

.image-member-comtent .unimage {
  font-size: 50px;
  margin: auto;
}

.list-scrims {
  height: 700px;
  overflow-y: scroll;
  border-radius: 10px;
  background-color: #1a1b20;
  display: flex;
  flex-direction: column;
}

.list-scrims::-webkit-scrollbar {
  width: 0.1em;
}

.list-scrim {
  font-size: 20px;
}
