<div class="Scrim">
  <div class="container">
    <app-header [title]="title" [discription]="discription"></app-header>

    <div>
      <div class="border-bottom d-lg-flex">
        <label class="fs-5 underline border-2">Scrims Finder</label>
      </div>

      <div
        #ScrimsContenter
        class="d-flex flex-warp flex-row"
        (scroll)="onScrollScrimsContenter()"
      >
        <div class="card d-flex flex-column mt-2">
          <h4 class="m-auto team-name">My Team</h4>
          <div class="m-auto d-flex img-content border border-danger border-2">
            <img
              [src]="team?.imageTeamUrl"
              *ngIf="team?.imageTeamUrl"
              class="m-auto"
            />
            <div class="lds-ellipsis m-auto" *ngIf="!team?.imageTeamUrl">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="card-body">
            <div class="scrim-list d-flex justify-content-between">
              <label>16/10/2013</label>
              <label>20:00</label>
            </div>
            <div class="scrim-list d-flex justify-content-between">
              <label>16/10/2013</label>
              <label>20:00</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
