<div class="Scrim">
  <div class="container">
    <app-header [title]="title" [discription]="discription"></app-header>

    <div>
      <div class="border-bottom d-lg-flex">
        <label class="fs-5 underline border-2">Scrims Finder</label>
      </div>

      <div
        #ScrimsContenter
        class="d-flex flex-row justify-content-start align-items-center flex-wrap"
        (scroll)="onScrollScrimsContenter()"
      >
        <div
          class="card d-flex flex-column mt-2"
          *ngFor="let scrims of scrims_lists; let index = index"
          (click)="goDetail(scrims)"
        >
          <h4 class="m-auto team-name" [innerHTML]="scrims.team.name"></h4>
          <div
            class="m-auto d-flex flex-column img-content border border-2 rounded bg-light"
          >
            <div
              id="loading "
              class="lds-ellipsis m-auto"
              *ngIf="!scrims.image && image_id[index]"
            >
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <img
              [src]="scrims.image"
              *ngIf="scrims.image && image_id[index]"
              class="m-auto"
            />
            <h1
              *ngIf="!image_id[index]"
              [innerHTML]="scrims.team.name[0]"
              class="text-uppercase text-dark unimage"
            ></h1>
          </div>
          <div class="card-body">
            <div
              class="scrim-list d-flex justify-content-between"
              *ngFor="let scrim of scrims.scrims"
            >
              <label> {{ scrim.startDate | date : "dd/MM/y" }} </label>
              <label>{{ scrim.startDate | date : "HH:mm" }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
