<div class="Scrim scrim-background" [ngClass]="{ 'visually-hidden': !nav.getProfile().profileGame }"></div>
<div class="Scrim" [ngClass]="{ 'visually-hidden': !nav.getProfile().profileGame }">
  <div class="container">
    <app-header [title]="title" [discription]="discription"></app-header>

    <div class="d-flex flex-row border-bottom border-white">
      <div *ngFor="let router of childName" class="p-2" [routerLink]="router.router" [ngClass]="{
          'border-bottom border-primary border-3': isActive(router.router)
        }">
        <label> {{ router.name }}</label>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="container">
    <div class="row">
      <!-- Left Side -->

      <div class="col-md-3 col-sm-12 border-end">

        <div class="container p-4">
          <!-- Added padding -->
          <h2>TIME</h2>
          <div class="d-flex justify-content-between pt-2">
            <label class="switch">
              <!-- Center text -->
              <input type="checkbox" (change)="onChange($event,'DSL')" />
              <span class="slider round"></span>
            </label>
            <h3>20.00</h3>
            <img
              src="src\assets\img\nine-oclock-11552761195fz4wnxht5u.png"
              alt="time" width="40px" height="40px" />
          </div>

          <div class="d-flex justify-content-between pt-2">
            <label class="switch">
              <!-- Center text -->
              <input type="checkbox" (change)="onChange($event,'JG')" />
              <span class="slider round"></span>
            </label>
            <h3>21.00</h3>
            <img
              src="src\assets\img\pngegg.png"
              alt="time" width="40px" height="40px" />
          </div>
          <div class="d-flex justify-content-between pt-2">
            <label class="switch">
              <!-- Center text -->
              <input type="checkbox" (change)="onChange($event,'MID')" />
              <span class="slider round"></span>
            </label>
            <h3>22.00</h3>
            <img
              src="src\assets\img\pngegg.png"
              alt="time" width="40px" height="40px" />
          </div>
        </div>
      </div>

      <!-- Right Side -->
      <div class="col-md-9 col-sm-12">
        <div class="d-flex flex-column p-4 align-items-end">
          <!-- Added padding -->

          <div class="col-md-6 col-sm-12 text-md-end">
            <button type="button" class="btn btn-success m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Post Find Team
            </button>
          </div>
        </div>
      </div>