<div class="finder">
  <div class="container">
    <app-header [title]="title" [discription]="discription"></app-header>

    <div class="d-flex flex-row border-bottom border-white">
      <div
        *ngFor="let router of childName"
        class="p-2"
        [routerLink]="router.router"
        [ngClass]="{
          'border-bottom border-primary border-3': isActive(router.router)
        }"
      >
        <label> {{ router.name }}</label>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
