<div class="bg-light">
  <div class="d-flex justify-content-between container align-self-center">
    <div class="d-flex flex-row align-self-center">
      <div class="m-2 p-3 align-self-center">
        <label class="navbar-brand" routerLink="">
          <img src="../../assets/img/logo.png" class="logo"
        /></label>
      </div>
      <div class="d-none d-lg-flex flex-row align-self-center">
        <div
          class="m-2 p-3 d-flex flex-column align-items-center"
          [routerLink]="nav.name"
          *ngFor="let nav of navBarRow"
        >
          <div>
            <img [src]="nav.img" />
          </div>
          <label class="text-uppercase">{{ nav.name }}</label>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row align-self-center">
      <button
        type="button"
        class="btn btn-outline-danger font-italic m-2 d-none d-lg-block"
        (click)="service.toPage('login')"
      >
        LOG IN
      </button>
      <button
        type="button"
        class="btn btn-danger font-italic m-2 d-none d-lg-block"
      >
        SIGN UP
      </button>
      <div (click)="clickMenu()">
        <i class="btn bi bi-list d-lg-none d-block"></i>
      </div>
    </div>
  </div>
</div>

<div
  class="bg-light border-top d-block d-lg-none"
  [ngClass]="{ 'd-none': !menu }"
>
  <div class="d-flex flex-column align-self-center container">
    <div
      class="m-2 d-flex flex-row justify-content-between border-bottom pb-1"
      *ngFor="let nav of navBarName"
    >
      <label>{{ nav }}</label>
      <label>></label>
    </div>
    <div class="d-flex justify-content-between container">
      <button
        type="button"
        class="btn btn-outline-danger font-italic m-2"
        (click)="service.toPage('login')"
      >
        LOG IN
      </button>
      <button type="button" class="btn btn-danger font-italic m-2">
        SIGN UP
      </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
