.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
  background-color: #1a1b20;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
  background-color: #1a1b20;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
  background-color: #1a1b20;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
  background-color: #1a1b20;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.finder {
  background-color: #15161b;
  color: #fff;
  height: 100vh;
}

.post-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  margin-top: 0;
  padding-left: 20px;
  height: 500px;
  max-height: 500px;
  margin-bottom: 20px;
  overflow-y: scroll;
  border-radius: 10px;
  background-color: #1a1b20;
  cursor: pointer;
}

.list-post:hover {
  transform: scale(1.05);
}

.post-content::-webkit-scrollbar {
  width: 0.1em;
}

.list-post {
  border: 2px solid white;
  height: 230px;
  width: 250px;
  overflow: hidden;
  margin-top: 20px;
  margin-right: 20px;
  transition: transform 0.3s;
}

.image-comtent {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
}
