<div class="finder">
  <div class="d-flex flex-row">
    <div class="d-flex flex-column">
      <div
        *ngFor="let po of position"
        class="d-flex align-items-center justify-content pt-2 po-container"
      >
        <label class="switch">
          <!-- Center text -->
          <input type="checkbox" (change)="onChecked(po)" checked />
          <span class="slider round"></span>
        </label>
        <h3 class="ms-4">{{ po }}</h3>
      </div>
    </div>
    <div class="border" style="height: 100vh"></div>
    <div class="d-flex flex-column flex-fill">
      <button
        class="btn btn-success text-upercase ms-auto m-3"
        (click)="cheangePage()"
        *ngIf="show"
      >
        create teampost
      </button>
      <button
        class="btn btn-success text-upercase ms-auto m-3"
        (click)="cheangePage()"
        *ngIf="!show"
      >
        show teanpost
      </button>

      <ng-container *ngIf="show; else createPost">
        <ng-container *ngTemplateOutlet="showPost"></ng-container
      ></ng-container>
    </div>
  </div>
</div>

<ng-template #createPost>
  <div class="d-flex">
    <div class="row d-flex flex-column flex-lg-row ms-auto me-auto">
      <div
        *ngFor="let po of position"
        class="d-flex align-items-center justify-content-start"
        style="width: 100px"
      >
        <input type="checkbox" (change)="checkToCreate(po)" />
        <h5 class="ms-4">{{ po }}</h5>
      </div>
      <button (click)="post()">post</button>
    </div>
  </div>
</ng-template>

<ng-template #showPost>
  <div #Content class="post-content" (scroll)="onScrollPostContenter()">
    <div
      class="list-post rounded d-flex flex-column"
      *ngFor="let post of teamPostFilter; let i = index"
    >
      <div
        id="logo-team"
        class="image-comtent bg-light d-flex border border-2 rounded"
      >
        <div
          id="loading"
          class="lds-ellipsis m-auto"
          *ngIf="!images[i] && post.team.imageTeamUrl"
        >
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <img
          [src]="images[i]"
          *ngIf="images[i] && post.team.imageTeamUrl"
          class="m-auto"
        />
        <h1
          *ngIf="!images[i] && !post.team.imageTeamUrl"
          [innerHTML]="post.team.name[0]"
          class="text-uppercase text-dark unimage m-auto"
        ></h1>
      </div>
      <div class="mt-3 ms-2 me-auto">
        <div>Name : {{ post.team.name }}</div>
        <div>Positions : {{ post.positions }}</div>
      </div>
      <button
        *ngIf="!checkMy(post.team.name)"
        class="ms-auto btn btn-success"
        (click)="requestToJoinTeam(post.team.name)"
      >
        invite
      </button>
    </div>
    <div
      id="loading "
      class="lds-ellipsis m-auto"
      *ngIf="pageSize == pageTotal"
    >
      <div class="bg-light"></div>
      <div class="bg-light"></div>
      <div class="bg-light"></div>
      <div class="bg-light"></div>
    </div>
  </div>
</ng-template>
