<div class="container">
  <div class="row">
    <!-- Left Side -->

    <div class="col-md-3 col-sm-12 border-end">

      <div class="container p-4">
        <!-- Added padding -->
        <h2>Role</h2>
        <div class="d-flex justify-content-between pt-2">
          <label class="switch">
            <!-- Center text -->
            <input type="checkbox" (change)="onChange($event,'DSL')" />
            <span class="slider round"></span>
          </label>
          <h3>DSL</h3>
          <img
            src="https://cdn-webth.garenanow.com/webth/cdn/gth/rov/non-events/official/0415b285e2b6c3dcf12be5d7beb1055b.png"
            alt="lane" width="40px" height="40px" />
        </div>

        <div class="d-flex justify-content-between pt-2">
          <label class="switch">
            <!-- Center text -->
            <input type="checkbox" (change)="onChange($event,'JG')" />
            <span class="slider round"></span>
          </label>
          <h3>JG</h3>
          <img
            src="https://cdn-webth.garenanow.com/webth/cdn/gth/rov/non-events/official/d4e7e712a09b01364a8d8af3c6eeb0f5.png"
            alt="lane" width="40px" height="40px" />
        </div>
        <div class="d-flex justify-content-between pt-2">
          <label class="switch">
            <!-- Center text -->
            <input type="checkbox" (change)="onChange($event,'MID')" />
            <span class="slider round"></span>
          </label>
          <h3>MID</h3>
          <img
            src="https://cdn-webth.garenanow.com/webth/cdn/gth/rov/non-events/official/7bb58a9b6f300bf36834f8ec6e25ea0f.png"
            alt="lane" width="40px" height="40px" />
        </div>
        <div class="d-flex justify-content-between pt-2">
          <label class="switch">
            <!-- Center text -->
            <input type="checkbox" (change)="onChange($event,'ADL')" />
            <span class="slider round"></span>
          </label>
          <h3>ADL</h3>
          <img
            src="https://cdn-webth.garenanow.com/webth/cdn/gth/rov/non-events/official/7b9491a786796943c73a901bd91cf6a1.png"
            alt="lane" width="40px" height="40px" />
        </div>
        <div class="d-flex justify-content-between pt-2">
          <label class="switch">
            <!-- Center text -->
            <input type="checkbox" (change)="onChange($event,'SUP')" />
            <span class="slider round"></span>
          </label>
          <h3>SUP</h3>
          <img
            src="https://cdn-webth.garenanow.com/webth/cdn/gth/rov/non-events/official/db5db10e92387724ab25f92a8c1e6e9f.png"
            alt="lane" width="40px" height="40px" />

        </div>
      </div>
    </div>

    <!-- Right Side -->
    <div class="col-md-9 col-sm-12">
      <div class="d-flex flex-column p-4 align-items-end">
        <!-- Added padding -->

        <div class="col-md-6 col-sm-12 text-md-end">
          <button type="button" class="btn btn-success m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Post Find Team
          </button>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div *ngFor="let post of getTeamPosts()" class="col-md-6 my-3"
            [ngClass]="{ 'hidden': !isSelected(post.post) }">
            <div class="card mb-3 game-card " data-bs-toggle="modal" data-bs-target="#findplayer"
              (click)="showDetail(post.post.id)">
              <div class="row g-0 d-flex align-items-center">
                <div class="col-lg-4 col-12">
                  <div class="box-image-game border m-2 img">
                    <div class="lds-ellipsis m-auto" *ngIf="!imageTeam">
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <img [ngClass]="{ 'd-none': !imageTeam }" [src]="imageTeam"
                      class="img-fluid rounded-start game-image">
                  </div>
                </div>
                <div class="col-lg-8 col-12">
                  <div class="d-flex flex-column justify-content-start">
                    <h5 class="card-title text-start game-profile">
                      TEAM: <span class="profile-info"> {{ team?.name }}</span>
                    </h5>
                    <h5 class="card-title text-start game-positions overflow-ellipsis">
                      POSITIONS: <span class="positions">{{ post.post.positions }}</span>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class=" modal-body">
              <form #PostPlayerForm="ngForm" (ngSubmit)="Postform()" id="playerPostForm">
                <h2 class="mt-2">Team Information</h2>

                <div class="mb-3">
                  <label for="position" class="form-label">POSITIONS</label>
                  <div class="row">
                    <div class="switch-container col-6" *ngFor="let position of position">
                      <label class="switch">
                        <input type="checkbox" class="switch-input" (change)="updateSelection($event, position)" />
                        <span class="slider round"></span>
                      </label>
                      <div class="mt-1">
                        <h4>{{ position }}</h4>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" class="btn btn-success" id="submitform" [disabled]="!PostPlayerForm.form.valid"
                    data-bs-dismiss="modal">
                    Save Changes
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Invite Player -->
      <div class="modal fade" id="findplayer" tabindex="-1" aria-labelledby="playerteamLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body text-center">
              <h3>Invite players to join the team</h3>

              <!-- Display PROFILE information from selectedPlayer -->
              <div *ngIf="selectedPlayer">
                <div class="align-items-center">
                  <div class="d-flex align-items-center justify-content-evenly">
                    <div>
                      <div class="box-image-game border m-2 img">
                        <div class="lds-ellipsis m-auto" *ngIf="!selectedPlayer.imageTeamUrl">
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                        </div>
                        <img [ngClass]="{ 'd-none': !selectedPlayer.imageTeamUrl }" [src]="selectedPlayer.imageTeamUrl"
                          class="img-fluid rounded-start game-image">
                      </div>
                    </div>
                    <div>
                      <div class="d-flex flex-column justify-content-start">
                        <h5 class="card-title text-start game-profile">
                          <span class="profile-info">TEAM: {{ team?.name }} </span>
                        </h5>
                        <h5 class="card-title text-start game-positions overflow-ellipsis">
                          POSITIONS: <span class="positions">{{selectedPlayer.positions.join(', ') }}</span>
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of displaying PROFILE information from selectedPlayer -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success">Sent request</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>