<div class="">
  <div class="container">
    Role <br><br>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    DSL
    <br><br>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    JG
    <br><br>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    MID
    <br><br>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    ADL
    <br><br>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    SUP
    <br><br>
    <p>finder-team works!</p>
  </div>
</div>
