<link
  href="https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin"
  rel="stylesheet"
  type="text/css"
/>
<div class="body container">
  <div class="bar border-bottom">
    <label
      [ngClass]="{
        underline: checkTab('overview')
      }"
      routerLink="overview"
      >Overview</label
    >
    <label
      style="margin-left: 80px"
      [ngClass]="{ underline: checkTab('match') }"
      routerLink="match"
      >Match</label
    >
    <div *ngIf="tour?.createer?.id === profile">
      <label
        style="margin-left: 80px"
        [ngClass]="{
          underline: checkTab('creater')
        }"
        routerLink="creater"
        >creater</label
      >
    </div>
    
  </div>
  <router-outlet></router-outlet>
</div>
