.bar {
  display: flex;

  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #000000;
  white-space: nowrap;
  display: flex;
}
.bar label {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.body {
  color: white;
  padding: 30px;
  font-family: "Kanit", sans-serif;
}

.underline {
  border-bottom: 2px solid #00c2ff;
}
