<link
  href="https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin"
  rel="stylesheet"
  type="text/css"
/>
<div class="body container">
  <div class="bar">
    <label
      [ngClass]="{ 'border-bottom border-danger border-3': isOverview }"
      routerLink="overview"
      >Overview</label
    >
    <label
      style="margin-left: 80px"
      [ngClass]="{ 'border-bottom border-danger border-3': isTeamJoin }"
      routerLink="team"
      >Team List</label
    >
    <label
      style="margin-left: 80px"
      [ngClass]="{ 'border-bottom border-danger border-3': isMatching }"
      routerLink="match"
      >Match</label
    >
  </div>
  <div class="line-8-83i"></div>
  <router-outlet></router-outlet>
</div>
