.body {
    margin-top: 10px;
    font-family: 'Kanit', sans-serif;
}

.line-8-83i {
    width: 80%;
    height: 0.2rem;
    position: absolute;
    
    background-color: #777575;
}
.bg img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.bg p{
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    color: white;
    font-size: 54px;
    top: 180px;
    left: 80px;
}



/* เพิ่ม CSS Media Query เพื่อปรับขนาด status-bar ในหน้าจอที่มีความกว้างต่าง ๆ */
@media (max-width: 768px) {
   .bg p{
    top: 300px;
   }
    .line-8-83i{
        width: 430px;
    }
    
  }
  
  @media (max-width: 480px) {
    .body {
        padding: 20px;
    }
   
   
    .line-8-83i{
        width: 280px;
    }
  }