<div class="login-page d-flex justify-content-center justify-content-lg-start">
  <div class="white-page d-block">
    <div class="logo">
      <img src="./assets/img/logo.png" />
    </div>
    <h3 class="fs-5 d-lg-none">{{ h3() }}</h3>
    <h3 class="fs-3 d-lg-block d-none text-center">{{ h3() }}</h3>

    <div
      class="bar border-bottom border-light border-3 justify-content-around justify-content-lg-start"
    >
      <div
        class="login flex-fill text-center"
        [ngClass]="{ 'border-bottom border-danger border-3': isLogin }"
        (click)="showLogin()"
      >
        <label> LOG IN </label>
      </div>
      <div
        class="register flex-fill text-center"
        [ngClass]="{ 'border-bottom border-danger border-3': !isLogin }"
        (click)="showRegister()"
      >
        <label> SIGN UP </label>
      </div>
    </div>
    <ng-container *ngIf="isLogin; else RegisterPage">
      <ng-container *ngTemplateOutlet="LoginPage"></ng-container
    ></ng-container>
  </div>
</div>

<ng-template #LoginPage>
  <div class="form">
    <form
      #loginForm="ngForm"
      (ngSubmit)="submitLoginForm()"
      class="row g-3 needs-validation"
      novalidate
    >
      <div class="col-md-12">
        <label for="validationCustom02" class="form-label">EMAIL</label>
        <input
          type="text"
          id="registerPassword"
          name="registerPassword"
          class="form-control"
          [(ngModel)]="LoginData.email"
          required
          placeholder="PASSWORD"
        />
      </div>
      <div class="col-md-12">
        <label for="validationCustom02" class="form-label">PASSWORD</label>
        <input
          type="password"
          id="loginPassword"
          name="loginPassword"
          class="form-control"
          [(ngModel)]="LoginData.password"
          required
          placeholder="PASSWORD"
        />
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="invalidCheck2"
          required
        />
        <label class="form-check-label"> REMEMBER ME </label>
      </div>

      <button
        type="submit"
        class="btn btn-danger"
        [disabled]="!loginForm.form.valid"
      >
        LOG IN
      </button>
    </form>
  </div>
</ng-template>

<!-- ------------------REGISTER--------------------------------- -->
<ng-template #RegisterPage>
  <div class="form">
    <form
      #registerForm="ngForm"
      class="row g-2 needs-validation"
      novalidate
      (ngSubmit)="submitRegisterForm()"
    >
      <div class="col-md-6">
        <label for="validationCustom01" class="form-label">First name</label>
        <input
          type="text"
          id="registerFname"
          name="registerFname"
          class="form-control"
          [(ngModel)]="RegisterData.firstName"
          required
          placeholder="FIRSTNAME"
        />
      </div>
      <div class="col-md-6">
        <label for="validationCustom02" class="form-label">Last name</label>
        <input
          type="text"
          id="registerLname"
          name="registerLname"
          class="form-control"
          [(ngModel)]="RegisterData.lastName"
          required
          placeholder="LASTNAME"
        />
      </div>
      <div class="col-md-12">
        <label for="validationCustom02" class="form-label">PASSWORD</label>
        <input
          type="text"
          id="registerPassword"
          name="registerPassword"
          class="form-control"
          [(ngModel)]="RegisterData.password"
          required
          placeholder="PASSWORD"
        />
      </div>
      <div class="col-md-12">
        <label for="validationCustom02" class="form-label"
          >CONFIRM PASSWORD</label
        >
        <input
          type="text"
          id="registerconfirmPassword"
          name="registerconfirmPassword"
          class="form-control"
          [(ngModel)]="RegisterData.confirmpassword"
          required
          placeholder="CONFIRM PASSWORD"
        />
      </div>

      <div class="col-md-6">
        <label for="validationCustom03" class="form-label">Birthday</label>
        <input
          type="date"
          id="registerdate"
          name="registerdate"
          class="form-control"
          [(ngModel)]="RegisterData.date"
          required
          placeholder="DATE"
        />
      </div>

      <div class="col-md-6">
        <label for="validationCustom04" class="form-label">GENDER</label>
        <select
          class="form-select"
          id="registergender"
          name="registergender"
          [(ngModel)]="RegisterData.gender"
          required
        >
          <option selected disabled value="">Choose...</option>
          <option>Male</option>
          <option>Female</option>
        </select>
        <div class="invalid-feedback">Please select a valid state.</div>
      </div>
      <div class="col-md-12">
        <label for="validationCustom02" class="form-label">EMAIL</label>
        <input
          type="text"
          id="registeremail"
          name="registeremail"
          class="form-control"
          [(ngModel)]="RegisterData.email"
          required
          placeholder="EMAIL"
        />
      </div>

      <div class="col-12">
        <button
          class="btn btn-danger"
          type="submit"
          [disabled]="!registerForm.form.valid"
        >
          REGISTER
        </button>
      </div>
    </form>
  </div>
</ng-template>
