<div class="tournament">
  <div class="container">
    <h1 class="text-start mt-4">YOUR TOURNAMENTS</h1>

    <div class="d-flex flex-row border-bottom border-light mb-3">
      <!-- Add your navigation links here -->
      <div *ngFor="let router of childName" class="p-2" [routerLink]="router.router" [ngClass]="{
          'border-bottom border-primary border-3': isActive(router.router)
        }">
        <label> {{ router.name }}</label>
      </div>
    </div>

   
    <div class="text-bg-secondary mb-3 rounded-pill">
      <div class=" bg-gray ">
        <div class="row px-4 " width="50%" height ="50%">
          <div class="col-4 d-flex align-items-center fs-4">
            <img src="https://yt3.googleusercontent.com/_-xP4vEI_q7kn-15nKbIbI9fJ_NmtSotjopG--QRCRq99jdf-9mZoBAOg9YXe_itiusPy1nwhQ=s900-c-k-c0x00ffffff-no-rj" alt="Logo" style="max-width: 50px; max-height: 50px;" class="ps-2">
            <h3 class="mb-0 ms-2">Bacon</h3>
          </div>
          <div class="col-4 text-center text-black d-flex flex-column">
            <span class="fs-2 text-danger fw-bold ">VS</span>
            <span class="fs-5">19/08/2566</span>
          </div>
          <div class="col-4 d-flex align-items-center fs-4 justify-content-end">
            <h3 class="me-2">Burirum</h3>
            <img src="https://pbs.twimg.com/profile_images/1022009667403345920/Oe5Sq3f-_400x400.jpg" alt="Logo" style="max-width: 50px; max-height: 50px;" class="pe-2">
          </div>
        </div>
      </div>
    </div>
     
   