<link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>
<div class="body">
  <div class="bar">
    <a >ภาพรวม</a>
    <a style="margin-left: 80px " routerLink="/leauges-team">ทีมที่เข้าร่วม</a>
  </div>
  <div class="line-8-83i"></div>
   <div class="status">
    
    <div class="box" >
        
        <span 
        class="status-bar" 
        id="รอดำเนินการ" 
        style="background-color: red; 
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;"></span>
        <p>รอดำเนินการ</p>
    </div>
    <div class="box" >
        <span class="status-bar" id="เปิดรับสมัคร"></span>
        <p>เปิดรับสมัคร</p>
    </div>
    <div class="box">
        
        <span class="status-bar" id="ปิดรับสมัคร"></span>
        <p>ปิดรับสมัคร</p>
    </div>
    <div class="box">
        <span class="status-bar" id="กำลังแข่งขัน"></span>
        <p>กำลังแข่งขัน</p>
    </div>
    <div class="box">
        <span class="status-bar" id="จบการแข่งขัน" 
        style=" 
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;"></span>
        <p>จบการแข่งขัน</p>
    </div>
   </div>
   <div class="detail-wrapper">
    <div class="img">
            <img src="https://s.isanook.com/ga/0/ud/196/984419/01.jpg" alt="" /> 
      </div>
      <div class="detail">
                <h1 style="font-family: fantasy;">U2T ESPORT</h1>
                <h2>คำอธิบาย</h2>
                <p>** เพียงแค่ฝนตกลงที่หน้าต่างในบางครา
                    เพียงแค่ฝนตกลงในวันหยุดในตอนเช้า
                    มันก็อาจจะมีนิดเดียว ที่คิดถึงเธอ
                    มันก็อาจจะเป็นครั้งเดียว ที่บอกรักเธอ
                    
                    เพียงแค่ ฉันเองก็ไม่รู้ว่าในทุกๆวันที่มีแต่เธอยังคงละเมอและเพ้อทุกครั้งที่มองขึ้นไป 
                    บนท้องฟ้าหยดน้ำค้างตกกระทบในตาฉัน
                    แล้วในวันนี้พรุ่งนี้จะเป็นยังไงจะเดินจะกินจะนอนจะยอมให้วันเวลาเดินไปเท่าไร 
                    แต่สุดท้ายแดดยามเช้าก็ไม่สดใส
                    เพียงแค่ฝนตกลงที่หน้าต่างในบางครา
                    เพียงแค่ฝนตกลงในวันหยุดในตอนเช้า
                    มันก็อาจจะมีนิดเดียว ที่คิดถึงเธอ
                    มันก็อาจจะเป็นครั้งเดียว ที่บอกรักเธอ
                    
                    เพียงแค่ ฉันเองก็ไม่รู้ว่าในทุกๆวันที่มีแต่เธอยังคงละเมอและเพ้อทุกครั้งที่มองขึ้นไป 
                    บนท้องฟ้าหยดน้ำค้างตกกระทบในตาฉัน
                    แล้วในวันนี้พรุ่งนี้จะเป็นยังไงจะเดินจะกินจะนอนจะยอมให้วันเวลาเดินไปเท่าไร 
                    แต่สุดท้ายแดดยามเช้าก็ไม่สดใส </p>
       
                    <button class="btn btn-success" type="submit">REGISTER</button>
   </div>
</div>
