.tournament {
  color: white;
  height: 100vh;
  padding: 50px;
}
.img{
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  

}
.img img{
  border: 1px solid rgba(61, 61, 61, 0.264);
  box-shadow: 5px 10px #888888;
  border-radius: 10px;
}
.detail-data{
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  
  background-color: rgba(44, 44, 44, 0.823);
}