<div class="mb-5" [ngClass]="{ 'd-none': !nav.getProfile().profileGame }">
  <h1 class="mb-4">Profile Team</h1>
  <ng-container *ngIf="nav.getProfile().profileGame?.myTeam; else noTeam">
    <ng-container *ngTemplateOutlet="isTeam"></ng-container
  ></ng-container>
</div>

<ng-template #isTeam>
  <div class="column" [ngClass]="{ 'd-none': !team }">
    <div class="align-items-end d-flex flex-row flex-wrap isTeam">
      <div class="isTeam me-3 border img bg-light d-flex">
        <img class="border" [src]="imageTeam" *ngIf="imageTeam" />

        <h1
          class="text-center text-secondary text-uppercase m-auto"
          style="font-size: 80px"
          *ngIf="!imageTeam"
        >
          {{ unImgTeam() }}
        </h1>
      </div>
      <div id="team-name" class="fs-1" style="width: fit-content">
        {{ team?.name }}
      </div>
    </div>
    <div
      class="col-12 mt-5 main-team d-flex flex-row justify-content-evenly"
      style="flex-wrap: wrap"
    >
      <div
        class="border border-success d-flex flex-column align-items-center justify-content-end bg-white"
        *ngFor="let mem of getPosition()"
      >
        <div
          class="overflow-hidden position border-bottom border-success d-flex align-items-center flex-column justify-content-end"
        >
          <div class="text-dark fw-bolder m-auto">
            <img
              [ngClass]="{ 'd-none': !mem.player }"
              [src]="mem.imageUrl"
              *ngIf="mem.imageUrl"
            />
            <div
              class="lds-ellipsis m-auto"
              *ngIf="!mem.imageUrl && mem.player?.imageProfileUrl"
            >
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <i
              *ngIf="!mem.player?.imageProfileUrl && mem.player"
              class="bi bi-person-fill text-body-tertiary"
            ></i>
            <i
              id="add_player"
              *ngIf="!mem.player"
              (click)="nav.service.toPage('finder/player')"
              [ngClass]="{ 'd-none': mem.player || !isLeader() }"
              class="bi bi-person-fill-add text-success"
            ></i>
          </div>
          <div
            class="text-dark fw-bolder fs-4 p-2 border-top border-success text-center"
            style="width: 100%"
            [ngClass]="{ 'border-top': mem.player }"
          >
            <div>&nbsp; {{ mem.player?.profileGame?.name }}</div>
          </div>
        </div>
        <label class="text-success fw-bold">{{ mem.position_name }}</label>
      </div>
    </div>
    <div class="col-12 row d-flex align-items-start justify-content-evenly">
      <div class="col-12 col-lg-6 mt-5 row" id="team_reserve">
        <label class="fs-3">Team Reserve</label>
        <div class="row col-12 p-0 m-3 border-top border-success text-dark">
          <div
            class="border border-top-0 p-0 border-success flex-row d-flex align-items-center bg-white"
            *ngFor="let mem of team?.teamReserve"
          >
            <div class="flex-grow-1 ps-2">{{ mem.profileGame.name }}</div>
            <div class="m-auto p-2 bg-success">
              <i
                class="bi bi-arrow-bar-up text-white"
                [ngClass]="{ 'bi bi-arrow-bar-up': isLeader() }"
                >&nbsp;</i
              >
            </div>
          </div>
        </div>
        <button
          id="find_reserve"
          class="btn btn-success m-3 col-12"
          *ngIf="isLeader()"
          (click)="nav.service.toPage('finder/player')"
        >
          <i class="bi bi-plus-circle-fill"></i>
        </button>
      </div>
      <div class="col-12 col-lg-6 mt-5 row ms-lg-auto">
        <label class="fs-3">Contact</label>
        <textarea
          type="text"
          class="col-12 bg-data m-3 text-white"
          style="height: 100px"
          [disabled]="!isLeader() || !editContact"
          [(ngModel)]="teamData.contact"
        >
        </textarea>
        <button
          class="col-12 btn btn-success ms-auto"
          style="width: fit-content"
          [ngClass]="{ 'd-none': !isLeader() || !editContact }"
          (click)="saveContact()"
        >
          Save
        </button>
        <button
          class="col-12 btn btn-success ms-auto"
          style="width: fit-content"
          [ngClass]="{ 'd-none': !isLeader() || editContact }"
          (click)="toEditContact()"
        >
          Edit
        </button>
      </div>
    </div>
    <div class="col-12 mt-5 row">
      <button
        *ngIf="!isLeader()"
        class="btn btn-danger m-3 ms-md-auto col-md-2"
        (click)="toLeavTeam()"
      >
        Leave team
      </button>

      <button
        *ngIf="isLeader()"
        class="btn btn-danger m-3 ms-md-auto col-md-2"
        (click)="deleteTeam()"
      >
        Delete team
      </button>
    </div>
  </div>
</ng-template>

<ng-template #noTeam>
  <div
    [ngClass]="{ 'd-none': nav.profile?.profileGame?.myTeam }"
    class="d-flex flex-column"
  >
    <div class="mb-5">
      <h2 class="text-uppercase">create team</h2>
      <form #teamForm="ngForm" (ngSubmit)="createTeam()" class="row container">
        <div
          class="col-12 col-xxl-3 mb-5 d-flex d-lg-block justify-content-center"
        >
          <div
            class="d-flex flex-column justify-content-center align-items-center"
          >
            <div class="border img">
              <img
                class="p-1"
                [src]="selectedImageURL"
                *ngIf="selectedImageURL"
              />
            </div>
            <div class="">
              <label class="btn btn-success mt-3 pt-0 pb-0">
                <span>
                  <i class="fs-4 bi bi-cloud-arrow-up-fill ps-5 pe-5"></i>
                </span>
                <input
                  class="d-none"
                  type="file"
                  id="fileInput"
                  name="fileInput"
                  (change)="onFileSelected($event)"
                  accept="image/jpeg, image/png"
                />
              </label>
            </div>
          </div>
        </div>
        <div class="col-12 col-xxl-9">
          <div class="col-lg-12 flex-column d-flex">
            <label class="form-label">Name</label>
            <input
              type="text"
              class="bg-data ps-3 pe-3 p-1 text-white"
              placeholder="Team name (0 - 15 character)"
              id="team-name"
              name="team-name"
              [(ngModel)]="teamData.name"
              required
              [maxLength]="15"
            />
          </div>
          <div class="col-lg-12 flex-column d-flex mt-4">
            <label class="form-label">Position</label>
            <select
              class="bg-data text-white col-lg-12 container p-2 text-danger"
              id="position-team"
              name="position-team"
              [(ngModel)]="position_type"
              required
            >
              <option selected disabled value="">Choose...</option>
              <option *ngFor="let po of position" [value]="po">
                {{ po }}
              </option>
            </select>
          </div>
          <label class="text-center text-danger col-12">
            &nbsp;{{ errorMessageCreate }}
          </label>
        </div>
        <div id="div-submit" class="justify-content-end d-flex">
          <button
            type="submit"
            [disabled]="!teamForm.form.valid"
            class="mt-5 btn btn-success col-md-4"
          >
            Create team
          </button>
        </div>
      </form>
    </div>

    <div class="border"></div>

    <div class="mt-5">
      <h2 class="text-uppercase mb-5">find team by name</h2>
      <form
        #findTeamForm="ngForm"
        (ngSubmit)="getTeamByName()"
        class="row container"
      >
        <div class="col-12">
          <div class="col-lg-12 flex-column d-flex">
            <label class="form-label">Team name</label>
            <input
              type="text"
              class="bg-data ps-3 pe-3 p-1 text-white"
              placeholder="Team name"
              id="team-name"
              name="team-name"
              [(ngModel)]="teamNameToFind"
              required
            />
            <label class="text-center text-danger">
              &nbsp;{{ errorMessageFind }}
            </label>
          </div>
        </div>
        <div id="div-submit" class="justify-content-end d-flex">
          <button
            type="submit"
            [disabled]="!findTeamForm.form.valid"
            class="mt-5 btn btn-success col-md-4"
          >
            Find team
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
