<div class="mb-5">
  <div class="container position-relative profile-team">
    <div class="mb-5">
      <ng-container *ngIf="nav.profile?.profileGame?.myTeam; else noTeam">
        <ng-container *ngTemplateOutlet="isTeam"></ng-container
      ></ng-container>
    </div>
  </div>
</div>

<ng-template #isTeam>
  <!-- <div class="column">
    <div class="col-12 row align-items-end">
      <div
        id="team-name"
        class="fs-1 col-12 col-lg-5"
        style="width: fit-content"
      >
        {{ nav.profile?.profileGame?.myTeam?.name }}
      </div>
      <div
        id="team-id"
        class="fs-6 ms-0 ms-lg-3 mb-2 text-secondary col-lg-5 col-10"
      >
        #{{ nav.profile?.profileGame?.myTeam?.id }}
      </div>
      <div class="fs-2 ms-auto col-lg-1 col-1">
        <i class="bi bi-chat-left-dots-fill"> </i>
      </div>
    </div>
    <div
      class="col-12 mt-5 main-team d-flex flex-row justify-content-evenly"
      style="flex-wrap: wrap"
    >
      <div
        class="border border-success d-flex flex-column align-items-center justify-content-end bg-white"
        *ngFor="let mem of position"
      >
        <div
          class="overflow-hidden position border-bottom border-success d-flex align-items-center flex-column justify-content-end"
        >
          <div class="text-dark fw-bolder m-auto">
            <img
              [ngClass]="{ 'd-none': !mem?.player }"
              [src]="mem?.player?.imageProfileUrl"
              alt=""
            />
            <i
              [ngClass]="{ 'd-none': mem?.player }"
              class="bi bi-person-fill-add text-success"
            ></i>
          </div>
          <div
            class="text-dark fw-bolder fs-4 p-2 border-top border-success text-center"
            style="width: 100%"
            [ngClass]="{ 'border-top': mem?.player?.profileGame?.name }"
          >
            <div>{{ mem?.player?.profileGame?.name }}</div>
          </div>
        </div>
        <label class="text-success fw-bold">{{ mem.name }}</label>
      </div>
    </div>
    <div class="col-12 mt-5 row">
      <button class="btn btn-danger ms-auto col-2" (click)="toLeavTeam()">
        Leave team
      </button>
    </div>
  </div> -->
</ng-template>

<ng-template #noTeam>
  <div
    [ngClass]="{ 'd-none': nav.profile?.profileGame?.myTeam }"
    class="d-flex flex-column"
  >
    <div class="mb-5">
      <h2 class="text-uppercase">create team</h2>
      <form #teamForm="ngForm" (ngSubmit)="createTeam()" class="row container">
        <div
          class="col-12 col-xxl-3 mb-5 d-flex d-lg-block justify-content-center"
        >
          <div
            class="d-flex flex-column justify-content-center align-items-center"
          >
            <div class="border img">
              <img
                class="p-1"
                [src]="selectedImageURL"
                *ngIf="selectedImageURL"
              />
            </div>
            <div class="">
              <label class="btn btn-success mt-3 pt-0 pb-0">
                <span>
                  <i class="fs-4 bi bi-cloud-arrow-up-fill ps-5 pe-5"></i>
                </span>
                <input
                  class="d-none"
                  type="file"
                  id="fileInput"
                  name="fileInput"
                  (change)="onFileSelected($event)"
                />
              </label>
            </div>
          </div>
        </div>
        <div class="col-12 col-xxl-9">
          <div class="col-lg-12 flex-column d-flex">
            <label class="form-label">Name</label>
            <input
              type="text"
              class="bg-data ps-3 pe-3 p-1 text-white"
              placeholder="Team name"
              id="team-name"
              name="team-name"
              [(ngModel)]="teamData.name"
              required
            />
            <label class="text-center text-danger">
              &nbsp;{{ errorMessageCreate }}
            </label>
          </div>
          <div class="col-lg-12 flex-column d-flex">
            <label class="form-label">Position</label>
            <select
              class="bg-data text-white col-lg-12 container p-2 text-danger"
              id="position-team"
              name="position-team"
              [(ngModel)]="teamData.position"
              required
            >
              <option selected disabled value="">Choose...</option>
              <option *ngFor="let po of position" [value]="po">
                {{ po }}
              </option>
              <option class="text-uppercase">reserve</option>
            </select>
          </div>
        </div>
        <div id="div-submit" class="justify-content-end d-flex">
          <button
            type="submit"
            [disabled]="!teamForm.form.valid"
            class="mt-5 btn btn-success col-md-4"
          >
            Create team
          </button>
        </div>
      </form>
    </div>

    <div class="border"></div>

    <div class="mt-5">
      <h2 class="text-uppercase mb-5">find team by code</h2>
      <form
        #findTeamForm="ngForm"
        (ngSubmit)="getTeamByCode()"
        class="row container"
      >
        <div class="col-12">
          <div class="col-lg-12 flex-column d-flex">
            <label class="form-label">Team code</label>
            <input
              type="text"
              class="bg-data ps-3 pe-3 p-1 text-white"
              placeholder="Team code"
              id="team-code"
              name="team-code"
              [(ngModel)]="teamData.id"
              required
            />
            <label class="text-center text-danger">
              &nbsp;{{ errorMessageFind }}
            </label>
          </div>
        </div>
        <div id="div-submit" class="justify-content-end d-flex">
          <button
            type="submit"
            [disabled]="!findTeamForm.form.valid"
            class="mt-5 btn btn-success col-md-4"
          >
            Find team
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
