.profile-game {
  min-height: 600px;
}

.bg-data {
  background-color: #28282b;
}

label {
  padding-top: 20px;
}

::placeholder {
  color: white;
  opacity: 0.5; /* Firefox */
}

.game-img,
img {
  height: 400px;
  object-fit: cover; /* Ensures the image covers the container */
}
