.profile {
  background-color: #15161b;
  color: #fff;
}

.header {
  background-image: url(https://i.ytimg.com/vi/4DRU06aFW_Q/maxresdefault.jpg);
  background-position: center;
}



.list {
  cursor: pointer;
  border-bottom: 2px solid #15161b;
  padding-right: 50px;
}

.list:hover {
  border-bottom: 2px solid #00c2ff;
}

.underline {
  border-bottom: 2px solid #00c2ff;
}

.outlet {
  min-height: 500px;
}