.profile {
  background-color: #15161b;
  color: #fff;
}

.list {
  cursor: pointer;
  border-bottom: 2px solid #15161b;
  padding-right: 50px;
  transition: 0.4s;
}

.list:hover {
  border-bottom: 2px solid #00c2ff;
}

.logout:hover {
  border-bottom: 2px solid #ff0000;
}

.underline {
  border-bottom: 2px solid #00c2ff;
}

.outlet {
  min-height: 500px;
}
