.wrap{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
   grid-column-gap: 90px;
   grid-row-gap:6px;
   margin-bottom: 50px;
   margin-top: 50px;
}
.feature img{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 600px;
    height: 400px;
    cursor: pointer;
}
.feature{
    margin-left: 50px;
}

h3{
    font-weight: bold;
}
.advert img{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 200px;
    height: 200px;
    
}

.advert-slider {
    justify-content: space-between;
    width: 100%;
    display: flex;
    overflow: hidden;
}
.advert {
    margin-left: 20px;
    display: flex;
    min-width: 200px; 
    transition: transform 1s ease-in-out; 
}


@keyframes slide {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
    75% {
      transform: translateX(-300%);
    }
  }
  
  .advert-slider .advert {
    animation: slide 12s infinite;
  }
  
  .ads-wrap {
    
    width: 100%; 
    overflow: hidden;
    display: flex;
    margin-bottom: 50px;
  }